<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Search Event</h3></div>
	<div class="panel-body">
		<form class="" ng-submit="eventsCtrl.searchEvent(query,price)">
			<div class="form-group">
				<label> Keywords </label>
		    	<input type="text" name="query" ng-model="query" placeholder="keyword" class="form-control">
		  </div>
			<div class="form-group">
				<label> Price </label>
				<select name="price" class="form-control" ng-model="price">
					<option value="" disabled selected hidden>Any</option>
					<option value="free">Free</option>
					<option value="paid">Paid</option>
				</select>
			</div>
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Feeling Lucky!</button>
			</div>
		</form>
	</div>
</div>
