<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">{{ eCtrl.event.name.text }}</h1>
	</div>
	<div class="panel-body">
    <img src="{{eCtrl.event.logo.url}}" />
		<p><strong>Description</strong>: {{ eCtrl.event.description.text }}</p>
	</div>
</div>
<div >
utube-link: {{eCtrl.utubeLink}}

<!-- {{video.id.videoId | trusted}} -->
<iframe width="560" height="315" ng-src="{{eCtrl.utubeLink}}" frameborder="0" allowfullscreen></iframe>

</div>
<div ng-show="eCtrl.similarEvents.length">
	<h1>You may also like...</h1>
<div ng-repeat="event in eCtrl.similarEvents | limit" class="list-group-item">
		<div class="list-group-item-heading event-name {{event.id}}">
			<a href="#/events/{{event.id}}">{{ event.name.text }}</a>
		</div>
		<div id="{{event.id}}" style="display:none">
			<p>Description: {{event.description.text}}</p>
			<p>Time: {{event.start.local}}</p>
			<p>Link on eventbrite: {{event.url}}</p>
		</div>
</div>

</div>
