<event-form></event-form>
<h2 ng-show="eventsCtrl.events.length">Events:</h2>
<div class="list-group">
	<div ng-repeat="event in eventsCtrl.events | limit" class="list-group-item">
  		<div class="list-group-item-heading event-name {{event.id}}">
				<a href="#/events/{{event.id}}">{{ event.name.text }}</a>
			</div>
			<div id="{{event.id}}" style="display:none">
				<p>Description: {{event.description.text}}</p>
				<p>Time: {{event.start.local}}</p>
				<p>Link on eventbrite: {{event.url}}</p>
			</div>
  </div>
</div>
